* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.movie-list {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 30px;
padding-top: 40px;
}

.movie-card {
  background-color: #a9a9a924;
  border-radius: 15px;
  padding: 15px;

}

.movie-box {
    display: flex;
    gap: 24px;
    padding: 70px;
    justify-content: center;
    background-color: #a9a9a95f;
    border-radius: 17px;
    min-width: 50rem;
}

h3 {color: white;}

p {color: white}

